[submodule "pyglasstools/extern/Aboria"]
	path = pyglasstools/extern/Aboria
	url = https://github.com/aboria/Aboria.git
[submodule "pyglasstools/extern/pybind11"]
	path = pyglasstools/extern/pybind11
	url = https://github.com/pybind/pybind11
[submodule "pyglasstools/extern/rsvd"]
	path = pyglasstools/extern/rsvd
	url = https://github.com/mp4096/rsvd.git
[submodule "pyglasstools/extern/slepc"]
	path = pyglasstools/extern/slepc
	url = https://gitlab.com/slepc/slepc.git
[submodule "pyglasstools/extern/spectra"]
	path = pyglasstools/extern/spectra
	url = https://github.com/yixuan/spectra/
[submodule "pyglasstools/extern/cereal"]
	path = pyglasstools/extern/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "pyglasstools/extern/eigen"]
	path = pyglasstools/extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "pyglasstools/extern/gsd"]
	path = pyglasstools/extern/gsd
	url = https://github.com/glotzerlab/gsd.git
[submodule "pyglasstools/extern/mpl"]
	path = pyglasstools/extern/mpl
	url = https://github.com/rabauke/mpl
